body{
    background-color: black;
}

.container{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 300px;
}

.container p{
    font-size: 2rem;
    text-align: center;
}

.newprompt{
    display: flex;
    justify-content: center;
    align-items: center;
}

.prompts{
    width: 750px;
    height: 250px;
    margin: auto;
    display: flex;
    align-items: top;
    padding: 0px;
    color: white;
    text-align: left;
}

#prompt{
    font-size: 1.5rem;
    text-align: left;
    font-family: Pixelify Sans, sans-serif;
    padding-top: 18px;
}

.prompt{
    padding-left: 50px;
}

#button{
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-family: Pixelify Sans, sans-serif;
}

#button:hover {
    background: white;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.3rem;
    text-align: center;
    justify-content: center;
    padding-top: 2px;
}

.flash-effect {
  filter: blur(5px);
  opacity: 0;
  transition: filter 2s, opacity 1.5s;
}

@media (max-width: 800px) {
    .prompts{
        width: 100%;
        height: 100px;
        padding: 25px;
    }

    #prompt{
        font-size: 1.6rem;
        padding-top: 9px;
    }

    #button{
        font-size: 1.6rem;
    }

    .container{
    width: 75%;
    height: 50vh;
    display: flex;
    justify-content: top;
    align-items: center;
    margin-top: 50px;
    padding-left: 45px;
    }

    #try{
        font-size: 1.4rem;
        padding-top: 12px;
    }

    .prompt{
    padding-left: 20px;
    }

    .newprompt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    }

    #button:hover {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding-top: 3px;
    }
}