---
import Layout from '../../layouts/Layout.astro';
import '../../assets/product.css'
---

<Layout title="Max Bass - HeartBeat CD" description="H-h-hhhhhh HeartBeat" url="https://Loveisdancing.com/store/heartbeatcd">

    <h1>HeartBeat CD</h1>

    <div class="main-container">

        <!-- <div class="notice">
            <p class="contact">Message me on Instagram <a href="https://www.instagram.com/maxsdemos" target="_blank">@maxsdemos</a> for availability and payment.</p>
        </div> -->

        <div class="store-items">

            <div class="store-item">
                <div class="image-container"></div>
                <div class="product-text">
                    <div class="name-cost">
                        <p class="product-name">HeartBeat CD</p>
                        <p class="product-cost">$9.99</p>
                    </div>
                    <p class="description">One poem & three songs about the love of my life.</p>
                    <p class="description">This is a physical CD of the HeartBeat EP. If you want one, <a href="https://www.instagram.com/maxsdemos" target="_blank">DM me on Instagram @maxsdemos</a> for availability and payment.</p>
                    <p class="description">They're burnt on thrifted CDs and they all have different stickers. The cases also vary, like some are colorful and some are plain, so once you DM me, I'll send you all the ones I have!</p>
                </div>
            </div>

        </div>

    </div>

</Layout>