---
import Layout from '../../layouts/Layout.astro';
import '../../../assets/files/store.css'
---

<Layout title="Max Bass - Store" description="You make a man wanna come down..." url="https://Loveisdancing.com/store">

    <h1>Store</h1>

</Layout>