---
import Layout from '../../layouts/Layout.astro';
import '../../assets/store.css'
---

<Layout title="Max Bass - Store" description="You make a man wanna come down..." url="https://Loveisdancing.com/store">

    <h1>Store</h1>

    <div class="main-container">

        <!-- <div class="notice">
            <p class="contact">Message me on Instagram <a href="https://www.instagram.com/maxsdemos" target="_blank">@maxsdemos</a> for availability and payment.</p>
        </div> -->

        <div class="store-items">

            <div class="store-item">
                <a href='/store/heartbeatcd'>
                <div class="image-container"></div>
                <p class="product-name">[coming soon]</p>
                <p class="product-cost">$9.99</p>
                </a>
            </div>

        </div>

    </div>

</Layout>