---
import Layout from '../../../layouts/Layout.astro';
import '../../../assets/files/music.css'
---

<Layout title="Max Bass - Music" description="Love is music, dance is sex..." url="https://Loveisdancing.com/music">

    <a href="https://youtu.be/ukHzCk0bxm4?si=O--TSC5qXG3A5lGT" target="_blank"><h1>Music</h1></a>
    <h3>Page under development.</h3>
    <p class="caption">Shoutout Matt for the jacket.</p>
    <br>
    <p><a href="/content/text/It-all-just-dies.txt" target="_blank">Secret third track off HeartBeat:</a></p>
    <audio controls>
        <source src="/content/audio/italljustdies.mp3" type="audio/mpeg">
    </audio>

<script src="/scripts/heartbeatideation.js" defer></script>

</Layout>