---
import Layout from '../../../layouts/Layout.astro';
import Sidebar from '../../../layouts/sidebar.astro';
import '../../../assets/files/music.css'
---

<Layout title="Max Bass - Music" description="This PC/user/Max Bass/Loveisdancing.com/Files/Music" url="https://Loveisdancing.com/files/music">

<h1>Music</h1>

<Sidebar>

        <div class="music-container">


            <div class="quick-access">

                <div class="qa-item">
                    <div class="item-image">
                        <a href="https://www.youtube.com/watch?v=ukHzCk0bxm4">
                        <img src="/content/images/music/dance_cover.png">
                        </a>
                    </div>
                    <div class="item-caption">
                        <h5 class="caption-date">260611</h5>
                        <h3 class="from-max">From: Max</h3>
                        
                        <p>Put out a song last year called DANCE and u can check it out by clicking on the image.. more coming soooooonnnnnnnn</p>
                    </div>
                </div>
            </div>

            <div class="list-container">

                <div class="categories">

                <div class="cat-container" id="name">
                    <h4>Name</h4>
                </div>

                </div>

                <ul class="file-list">

                        <li class="file-li">
                            <p>
                                <a class="file-link">
                                <span class="file-title">This page is under development</span>
                                </a>
                            </p>
                        </li>

                </ul>

            </div>

        </div>

</Sidebar>

<script>
// @ts-nocheck
  /**
   * @param {string[]} files
   */

   const list = document.querySelector('.file-list');
        list.innerHTML = '';

  function loadFiles(files) {

    const filtered = files.filter(f => !f.endsWith('files.json'));

    const shuffled = filtered.sort(() => Math.random() - 0.5);

    shuffled.forEach((file) => {

        const url = file.startsWith('/') ? file : `/${file}`;

        const li = document.createElement('li');
        li.className = 'file-li';

        const p = document.createElement('p');
        
        const a = document.createElement('a');
        a.className = 'file-link';
        a.href = url;

        const span = document.createElement('span');
        span.className = 'file-title';
        span.textContent = file.split('/').pop();

        a.appendChild(span);
        p.appendChild(a);
        li.appendChild(p);
        list?.appendChild(li);

        fetch(url)
          .then(res => res.blob())
          .then(blob => {
            console.log(`Loaded ${file}`, blob);
          });
      }
    );
  }

  fetch('/content/music/files.json')
    .then(res => res.json())
    .then(loadFiles);

</script>

</Layout>