---
import Layout from '../../../layouts/Layout.astro';
import Sidebar from '../../../layouts/sidebar.astro';
import '../../../assets/files/music.css'
---

<Layout title="Max Bass - Music" description="This PC/user/Max Bass/Loveisdancing.com/Files/Music" url="https://Loveisdancing.com/files/music">

<h1>Music</h1>

<Sidebar>

        <div class="music-container">


            <div class="quick-access">

                <div class="qa-item">
                    <div class="item-image">
                        <a href="/heartbeat">
                        <img src="/content/images/music/HeartBeat/HeartBeatCover1500.jpg">
                        </a>
                    </div>
                </div>

                <div class="qa-item">
                    <div class="item-image">
                        <a href="https://www.youtube.com/watch?v=ukHzCk0bxm4">
                        <img src="/content/images/music/dance_cover.png">
                        </a>
                    </div>
                </div>

            </div>

        </div>

</Sidebar>

</Layout>