---
import Layout from '../../../../layouts/Layout.astro';
import Blog from '../../../../layouts/blog.astro';
import '../../../../assets/files/journal.css';

export const frontmatter = {
  title: "Dead pixels",
  date: "260604",
};
---

<Layout title={frontmatter.date + " " + frontmatter.title} url="https://Loveisdancing.com/files/documents/blog/260604">

    <Blog
    
    date={frontmatter.date}
    title={frontmatter.title}
    caption="Photos by Ben Burton."
    backgroundColor="black"
    textColor="white"
    invertLogo={true}

    >
    
<!--     <div slot="image" class="blogimg"></div> -->
<!--     <img src="/content/images/dead-pixels/snarl.jpg" slot="image" class="blogimg"> -->

    <div slot="image" class="carousel">
        <div class="track">
            <div class="group">
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
            </div>
            <div aria-hidden class="group">
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max1_edit.jpg"></div>
                <div class="card"><img src="/content/images/blog/260604/max2_edit.jpg"></div>
            </div>
        </div>
    </div>

    <p slot="journal">
        I want to write. 
    </p>
        
    <p slot="journal">
        Last night I took photos with Ben Burton and it was so fun. Halfway through I started coughing like crazy and that definitely brought down my focus, but we made it! I'm so grateful to have the opportunity to work with cool people like Ben. He said something that I think will stick with me for a long time, that kind of reassured me about taking the leap to reach out, which is something I haven't done much of. Trying not to put words in his mouth, I'll just say how I kinda took it, but he said something along the lines of "I like to work with musicians because they have such big ideas." And at that moment, I was like, "He gets it." I think not having a super clear direction for the photos worked out in our favor because we spent time experimenting. Which is something I love doing.
    </p>

    <p slot="journal">
        We spent a lot of time in my Aunt's basement gym. The walls were covered in mirrors and I liked the gym equipment because it fits with the theme of the HeartBeat EP (when I think of working out, my heart beats faster). We also went to Alum Creek and took some pictures in a house that was still being built in a rich neighborhood near me. We also ended it at a baseball field and I had a prosthetic that I was gonna try to wear but tbh I made it like shit and I don't think it would've been worth the time. But the whole shoot made me think about the Love is dancing music video that I want to make and I have some real cool ideas now.
    </p>

    <p slot="journal">
        I started adding dead pixels to images on this site through a custom TouchDesigner patch because I thought it would look cool. Once I started adding colors (mainly the cyan) I really started diving into what HeartBeat would look like and building out the world that I see it existing in. It wasn't until writing this that I started connecting the dots and turning it into something more meaningful. 
    </p>

    <p slot="journal">
        During the shoot, I was trying my hardest not to be self-conscious. I just remind myself that everything is curated and everyone only posts things that they think they look good in. I think I found more enjoyment in the iPod Touch pics because of the lower quality. I've yet to see the pics he took on his digicam and DSLR, but I have a feeling that I won't like a majority of the high quality photos because they will be <em>too</em> me. And yea I know that's hella cynical. And I can make up the excuse that I like the lower quality ones more because they showcase the world I see HeartBeat existing in, but really it's because I struggle with self-respect.
    </p>

    <p slot="journal">
        All this to say that I think the dead pixels are just another mask. They enhance the digital narrative of HeartBeat, which only exists because I'm too scared to show myself in high-res. The mistakes are too apparent.
    </p>

    <p slot="journal">
        Anyways yeah I'm being dramatic as hell because I haven't even seen a lot of the photos yet but regardless of how I feel about them, I'm glad to have worked with someone whose work I adore and I finally feel like I can do music.
    </p>

    <p slot="journal">
        #peace
    </p>

    <audio slot="audio" autoplay loop id="bgaudio">
    <source src="/content/audio/fx/dance_chords.ogg" type="audio/mpeg">
    </audio>

    </Blog>

    <script>
    var audio = document.getElementById("bgaudio") as HTMLAudioElement;
    audio.volume = 0.2;
    </script>

</Layout>