---
import Layout from '../../layouts/Layout.astro';
import '../../assets/archive/epk.css'
---

<Layout title="Max Bass - EPK" description="Max Bass Electronic Press Kit" url="https://Loveisdancing.com/archive/epk">

    <h1>Max Bass Electronic Press Kit</h1>

    <div class="main-container">
        <div class="bio">
            <p>Hey! My name's Max Bass. I don't have a lot to show right now, but you can find my music on all streaming platforms here (Link WIP). If you're looking for images, you can click on any of the scrolling ones and download them that way.</p>
        </div>
        <div class="carousel">
            <div class="scroll-wrapper">
            <div class="track">
                <div class="group">
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK1.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK1.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK2.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK2.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK3.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK3.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK4.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK4.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK5.JPG" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK5.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK6.JPG" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK6.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK7.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK7.jpg"></a></div>
                </div>
                <div aria-hidden class="group">
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK1.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK1.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK2.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK2.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK3.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK3.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK4.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK4.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK5.JPG" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK5.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK6.JPG" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK6.jpg"></a></div>
                    <div class="card"><a href="/content/images/epk/highres/MaxBass_EPK7.png" target="_blank"><img src="/content/images/epk/lowres/MaxBass_EPK7.jpg"></a></div>
                </div>
            </div>
            </div>
        </div>
    </div>

</Layout>