---
import Layout from '../../layouts/Layout.astro';
import '../../assets/archive/archive.css'
---

<Layout title="Max Bass - Archive" description="Blurry vision, pollen snow, starter tornadoes swirling on the into-city road..." url="https://Loveisdancing.com/archive">

    <h1>Archive</h1>

    <div class="list-container">

                <div class="categories">

                <div class="cat-container" id="name">
                    <h4>Name</h4>
                </div>

                <div class="cat-container" id="type">
                    <h4>Type</h4>
                </div>

                </div>

                <ul class="file-list">

                        <li class="file-li">
                            <p>
                                <a class="file-link" href="/archive/epk">
                                <span class="file-title">Max Bass Electronic Press Kit</span>
                                <span class="file-type">EPK</span>
                                </a>
                            </p>
                        </li>

                        <li class="file-li">
                            <p>
                                <a class="file-link">
                                <span class="file-title">mompolish</span>
                                <span class="file-type">Music</span>
                                </a>
                            </p>
                        </li>

                        <li class="file-li">
                            <p>
                                <a class="file-link" href="https://soundcloud.com/sketchist" target="_blank">
                                <span class="file-title">sketchist</span>
                                <span class="file-type">Demos</span>
                                </a>
                            </p>
                        </li>


                        <li class="file-li">
                            <p>
                                <a class="file-link" href="https://soundcloud.com/maxsdemos" target="_blank">
                                <span class="file-title">maxsdemos</span>
                                <span class="file-type">Demos</span>
                                </a>
                            </p>
                        </li>

                </ul>

            </div>

</Layout>