---
import Layout from '../../layouts/Layout.astro';
import '../../assets/archive/archive.css'
---

<Layout title="Max Bass - Archive" description="Blurry vision, pollen snow, starter tornadoes swirling on the into-city road..." url="https://Loveisdancing.com/archive">

    <h1>Archive</h1>

</Layout>