@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --heart: rgb(234, 15,11);
    --beat: rgb(0, 247, 246);
    --pollen: rgb(230, 230, 230);
    --pollen2: rgb(230, 230, 230, 0.35);
    --vh: 1vh;
}