---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Max Bass - Blog" description="Just say yes I know you want something is the way you move Love is the dance you do..." url="https://Loveisdancing.com/blog">

    <h1>Blog</h1>

    <p>I've posted <a href="/files/blog/260529" style="color:aqua; text-decoration:underline;">my first blog</a>.</p>

</Layout>