---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Max Bass - Blog" description="Just say yes I know you want something is the way you move Love is the dance you do..." url="https://Loveisdancing.com/blog">

    <h1>Blog</h1>

</Layout>