---
import Layout from '../../../layouts/Layout.astro';
import '../../../assets/files.css'
---

<Layout title="Max Bass - Archive" description="Blurry vision, pollen snow, starter tornadoes swirling on the into-city road..." url="https://Loveisdancing.com/files/archive">

    <h1>Archive</h1>

</Layout>