---
import '../assets/heartbeatideation.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Max Bass">
    <meta property="og:description" content="HeartBeat Library">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://loveisdancing.com/content/images/everything.png">
    <meta property="og:url" content="https://loveisdancing.com/ben">
    <title>Max Bass - HeartBeat Library</title>

    <link rel="icon" type="image/svg+xml" href="/content/svg/favicon2.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jacquard+12+Charted&family=Jersey+10&family=Micro+5+Charted&family=Pixelify+Sans:wght@400..700&family=Rubik+Broken+Fax&family=Silkscreen:wght@400;700&family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
        <h1>HeartBeat Library</h1>

        <div class="intro" style="font-weight: bold;">
        <p class="subtext">Update! I took some pictures of possible locations and so those are all below. I'm not like deadset on going to any of them but they could be cool to explore. I'm curious what you have in mind. Also the pictures suck because they're from my car mainly</p>
        <p class="subtext">I would love to get a range of close-ups and like setting shots of me inside this "world" that I'm trying to build, but I don't have any specific locations</p>
        </div>

        <div class="location">

            <div class="images">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1235.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1230.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1232.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1231.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1233.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1234.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/developments/IMG_1236.jpeg">
            </div>
            <div class="caption">

                <p class="title" id="location-title">
                    New Developments Near Me (Around Evan's Farms)
                </p>
                <p class="description">
                    My mom and I recently moved to a developing area and I find the constant growth fascinating. Like just the phenomenon of Columbus continuing to grow and grow and grow and grow ever since I was born. There are neighborhoods, sports fields, etc. all being built and some of them offer unique landscapes. Specifically, the unpainted garages and unfinished houses (I don't technically have permission... but like no one was there at night so idk how you feel abt taking photos in them but I would be down). But also there's this like hugeee array of sports fields being built and I would love to try and take some photos under the big field lights or utilize the soccer goals that are there (a symbol of the era in my head). Also the construction cones and bright orange color was speaking to me at the moment.
                    <ul>
                        <p class="list-p">What I Like and lowkey also don't</p>
                            <li>- Development is like neverending</li>
                            <li>- Development never stops</li>
                            <li>- Everything is always developing</li>
                            <li>- Would give the pictures a unique landscape and background to work with</li>
                        <p class="list-p">What I Don't Like</p>
                            <li>- A little risky bc I don't think we're actually allowed to be there but I would still do take pics there if you would it would also be late and in the dark of night and like no one would be around and we wouldn't disturb anything</li>
                    </ul>
                </p>

                <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1945.750391429163!2d-83.00227256591097!3d40.205043571142596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1779927096783!5m2!1sen!2sus" width="70vw" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>
            
            <div class="images">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1237.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1238.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1239.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1240.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1241.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1242.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1243.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1244.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1245.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/sidewalk/IMG_1246.jpeg">
            </div>
            <div class="caption">

                <p class="title" id="location-title">
                    Random Buildings & Parking Lots & Electrical Towers Near Me
                </p>
                <p class="description">
                    I drive down this road everyday so I kind of just got to a point where I imagined taking photos here. There's a small open field, a gate into an electrical tower forest, native sunscape-esque fields, empty parking lots, interesting windows on big buildings, small building strips, there was even a secret warehouse with tennis courts. This and the section above are within a minute or two of each other. At night it almost felt liminal, but it was surprisingly not vacant. Like I think some people work at night in some of these buildings.
                    <ul>
                        <p class="list-p">What I Like</p>
                            <li>- Emptiness</li>
                            <li>- It reminds me of like the outskirts of suburbia</li>
                            <li>- A lot of things to try within walking distance</li>
                        <p class="list-p">What I Don't Like</p>
                            <li>- So many things that it could take a lot of time to get through</li>
                    </ul>
                </p>

                <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2214.0672273300956!2d-83.0140970632396!3d40.18794823586596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1779927325227!5m2!1sen!2sus" width="70vw" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            <div class="images">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1228.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1229.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1223.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1224.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1226.jpeg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/orangehighschool/IMG_1227.jpeg">
            </div>
            <div class="caption">

                <p class="title" id="location-title">
                    My Old High School (Olentangy Orange High School)
                </p>
                <p class="description">
                    To be honest, I don't know what makes a good location for photos. But when I think of suburbia, I think high school and where I grew up. Also, when I think about visual symbolism for this EP, I think about things that make your heart beat fast, and things like soccer goals or tennis courts are derivative of that. It could be cool to include some of that.
                    <ul>
                        <p class="list-p">What I Like</p>
                            <li>- Suburbia vibes, personal connection</li>
                            <li>- Streetlamp lighting</li>
                            <li>- A couple of soccer goals and tennis courts but idk</li>
                        <p class="list-p">What I Don't Like</p>
                            <li>- No standout spot, just empty parking lots and vibes under streetlights</li>
                    </ul>
                </p>

                <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1724.978484637569!2d-82.98200531176252!3d40.170907899497266!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8838f5007b5bc3ff%3A0x470cd6be446014f9!2sOlentangy%20Orange%20High%20School%20Tennis%20Courts!5e0!3m2!1sen!2sus!4v1779927404413!5m2!1sen!2sus" width="70vw" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>

            <div class="images">
                <img class="location-image" src="https://cdn.recreation.gov/public/2018/09/20/18/31/233897_1a101738-ee80-47de-b3dd-67eee528d3c8_700.webp">
                <img class="location-image" src="https://nyc3.digitaloceanspaces.com/birdinghotspots/f0ae8ed4-f41f-4121-9943-547d901dc5c7_large.jpg">
                <img class="location-image" src="https://i.ytimg.com/vi/s6uHDsknF7w/hq720.jpg?sqp=-oaymwE7CK4FEIIDSFryq4qpAy0IARUAAAAAGAElAADIQj0AgKJD8AEB-AH-CYAC0AWKAgwIABABGEwgZSg0MA8=&rs=AOn4CLASA8sa5NBgHMJYFh80-3hV-ntjPg">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/alum/DSC02695.JPG">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/alum/DSC02800.JPG">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/alum/DSC02164.JPG">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/alum/DSC06503.JPG">
                <img class="location-image" src="/content/images/HeartBeat_Ideation/locations/alum/DSC02255.JPG">
            </div>
            <div class="caption">

                <p class="title" id="location-title">
                    Alum Creek Dam & My Aunt's House
                </p>
                <p class="description">
                    I don't have many pics of this and also can't find any at night, but it's super pretty. You can walk above the dam and there's also a secret hammock spot that could be cool to take pics near. It's superrr pretty during the sunset. It's also right next to my aunt's house who has a cool backyard that could be a good place to take photos. Even their basement is super nice, I think I'm just personally attached to it and find it beauty in it because of that though. The photos suck but if you right click and open the image in a new tab then you can see the full images!
                    <ul>
                        <p class="list-p">What I Like</p>
                            <li>- Pretty during sunet</li>
                            <li>- Big dam infrastructure</li>
                            <li>- I love my aunt's house and yard</li>
                        <p class="list-p">What I Don't Like</p>
                            <li>- Huge amount of land, could literally take forever to get from one place to the next</li>
                    </ul>
                </p>

                <iframe class="location-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1029.7558199985028!2d-82.97488128208803!3d40.1830333069406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8838f6a22c80bf45%3A0xe2123be97af97105!2s3739%20Woodstone%20Dr%2C%20Lewis%20Center%2C%20OH%2043035!5e0!3m2!1sen!2sus!4v1779928594262!5m2!1sen!2sus" width="70vw" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            </div>


        </div>

        <div class="intro" style="font-weight: bold;">
        <p class="subtext">Hey Ben! This is just a library for some inspiration regarding my own creative direction for the EP I'm working on. It's called HeartBeat and is about my relationship with music. As for where you come in, I'm open to any suggestions or ideas you have, but I mainly just need photos of myself to worldbuild and for EPK type stuff. Att the bottom, there are some photos of yours that I LOVE! Excited to see what comes out of this.</p>
        <p class="subtext">Depending on how deep you wanna get into it, there's visual influences, actual audio files of the songs, some stream-of-consciousness stuff, context, etc. But no pressure to read it all, I just would rather provide more information and inspiration than not enough. I also don't have any specific expectations out of it, though.</p>
        <p class="subtext">Briefly, some current inspirations in mind are heavy, deep colors, intimacy, medical devices, abstraction, noise, electronics, nighttime skies, that one Snapchat filter where you vomit rainbows, escapism and suburbia, extreme color, dead pixels, <input type="text" placeholder="you name it"></p>
        <p class="subtext">p.s. this webpage is not built the best</p>
        </div>
        <div class="song" style="background-color: rgb(244, 244, 244);">
            <p class="title">1. Love is dancing</p>
            <audio controls>
                <source src="/content/audio/loveisdancing_3.mp3" type="audio/mpeg">
            </audio>
            <br>
            <a href="/content/text/Love-is-dancing.txt" target="_blank">Lyrics</a>
            <div class="two-column">
                <div class="column-one">
                    <p class="description">A song about wanting to go to my friend's houseparty in Cincy but I was too scared to go alone.</p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/full.jpg">
                    <p class="description">Love full-spectrum photography.</p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/circle.gif">
                </div>
                <div class="column-two">
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/field.jpg">
                    <p class="description"></p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/projector.jpg">
                    <p class="description">Tried filming some things last fall, didn't turn out how I wanted, sadly.</p>
                </div>
            </div>
            <div class="song" style="background-color: rgb(244, 244, 244);">
            <p class="title">2. everything2me</p>
            <audio controls>
                <source src="/content/audio/everything2me_3.mp3" type="audio/mpeg">
            </audio>
            <br>
            <a href="/content/text/everything2me.txt" target="_blank">Lyrics</a>
            <div class="two-column">
                <div class="column-one">
                    <img src="/content/images/HeartBeat_Ideation/everything2me/teeth.jpg">
                    <p class="description">Fun visuals.</p>
                    <img src="/content/images/HeartBeat_Ideation/everything2me/snapchat.jpg">
                    <p class="description">I remember being young and just being obsessed with Snapchat filters.</p>
                </div>
                <div class="column-two">
                    <p class="description">The main thing with these 4 images is the digital/2010s aesthetic of it all.</p>
                    <img src="/content/images/HeartBeat_Ideation/everything2me/IMG_0328.JPG">
                    <p class="description">Some super early cover art I made last year.</p>
                    <img src="/content/images/everything.png">
                </div>
            </div>
        </div>
        <div class="song" style="background-color: white; padding-top: 40px;">
            <p class="title" style="font-weight: bolder; font-size: 2rem; line-height: 90%">Photos of yours that I LOVE! Also some things I have that we could use, just extra inspiration</p>
            <br>
            <a href="/content/text/HeartBeat.txt" target="_blank">HeartBeat is...</a>
            <div class="two-column" id="ben">
                <div class="column-one">
                    <img src="/content/images/HeartBeat_Ideation/ben1.jpg">
                    <p class="description">I love cropped images or literal negative space added in post (used a lot of it in a <a href="https://youtu.be/ukHzCk0bxm4?si=O--TSC5qXG3A5lGT" target="_blank" class="mv">music video I made</a>), and this is stun. Although I mostly see us taking photos at night, I love lens flares and the art of suggestion. One of my only philosophies about music is that music should make the listener imagine or wonder.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben2.jpg">
                    <p class="description">I mean, come on. I'm sure you already how great of an image this is. I think because of the areas I've lived, I'm drawn to suburbia's monotony and the yearning of escaping it. To me, the photo acknowledges that, but it also promises that suburbia is a perfect place to stay forever with a nice community.</p>
                    <!-- <img src="/content/images/HeartBeat_Ideation/ben3.jpg">
                    <p class="description">Classic and perfect artist picture, love the framing.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben4.jpg">
                    <p class="description">I'm not opposed to things like double exposure, overlays, intentional blur, manipulation in post, literally all that is cool with me. As long as none of it is AI ofc. But I love this one specifically because it eternally traps the subject inside of technology despite them touching grass. Kinda like how I feel trapped in suburbia. But yea these are some of the coolest photos of yours, in my opinion. The talent bleeeedddss.</p> -->
                </div>
                <div class="column-two">
                    <img src="/content/images/HeartBeat_Ideation/ben3.jpg">
                    <p class="description">Classic and perfect artist picture, love the framing.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben4.jpg">
                    <p class="description">I'm not opposed to things like double exposure, overlays, intentional blur, manipulation in post, literally all that is cool with me. As long as none of it is AI ofc. But I love this one specifically because it eternally traps the subject inside of technology despite them touching grass. Kinda like how I feel trapped in suburbia. But yea these are some of the coolest photos of yours, in my opinion. The talent bleeeedddss.</p>
                    <!-- <p class="description">This second column is all photos I've taken that I think can further help with direction. I also don't want you to think I have anything that specific in mind, though. I'm open to pretty much everything and I know collaboration is a two-way street, so I wanna make sure I'm doing what I can to help.</p>
                    <img src="/content/images/frankenflower.png">
                    <p class="description">So I lied because this first one is technically, like, 10 images that I've taken, all frankensteined into one. But I love combining natural elements with digital manipulation (without AI). And I love saturation which I feel also shows throughout your work, but you do it in a cool way where it sort of selectively pops out in certain areas of grayness.</p>
                    <img src="/content/images/iam/DSCF1945.jpg">
                    <p class="description">This is moreso an opportunity showcase but I recently completed <a href="https://loveisdancing.com/iam" target="_blank" class="mv">my senior thesis</a> which was all about audio visualization and the intersection of music and visual arts. It incorporated a projector and some abstract visuals and it could be cool to play around with projections. This also isn't even my picture.</p>
                    <img src="/content/images/HeartBeat_Ideation/maxds.gif">
                    <p class="description">While looking for photos I came across the ones I took on my old DS. idk.</p>
                    <img src="/content/images/HeartBeat_Ideation/IMG_0471.JPG">
                    <p class="description">Also not my picture but I love the colors. Shoutout Trevor Paglen.</p> -->
                </div>
            </div>
            <img src="/content/images/HeartBeat_Ideation/cams.jpg" class="bottompic">
            <p class="description">I've got a small range of cameras and props we could play around with too. I love iPod photos, digicam photos, and I reallyyy wanna try film soup so that could fun to try and take some pics on film. I only have b&w film though and no flash for the camera so that could be a challenge. I have a projector that could be cool to project some things like <a href="https://loveisdancing.com/iam" target="_blank" class="mv">my senior thesis</a>.</p>
            <p class="subtext">Here's some links to my <a href="https://soundcloud.com/maxsdemos" class="mv">old SoundCloud number 1</a> and <a href="https://soundcloud.com/sketchist" class="mv">my old SoundCloud number 2</a> to get a feel for some of my older music, also <a href="https://open.spotify.com/playlist/65qg2a9wGQwQvNzglpmlYR?si=7deab8e860064318" class="mv">some more musical influence</a> if music is something that inspires your visuals.</p>
            <p class="subtext"><a href="https://www.cosmos.so/maxbass/love-is-dancing" target="_blank" class="mv">Here's a Cosmos board</a>. But as mentioned, I'm open to all ideas!</p>
    </div>

<script src="/scripts/heartbeatideation.js" defer></script>

</body>
</html>