---
import Layout from '../layouts/Layout.astro';
import '../assets/files/heartbeat.css'
---

<Layout title="Max Bass - HeartBeat" description="But my HeartBeat's alive..." url="https://Loveisdancing.com/heartbeat">

<h1>HeartBeat</h1>


<div class="big-container">

        <div class="main-container">

            <div class="grid-boxes">

                <div class="grid-box" id="message">
                    <p class="message">
                        I've been dreaming of releasing pop music since I was a kid.
                    </p>
                    <p class="message">
                        HeartBeat was intentionally written to try and capture the little moments that inspire me.
                    </p>
                    <p class="message">
                        I hope you enjoy it.
                    </p>
                </div>

                <div class="grid-box">
                    <a href="https://distrokid.com/hyperfollow/maxbass1/heartbeat" class="presave-button" target="_blank">
                    <div class="item-image" id="presave">
                        <img src="/content/images/epk/lowres/MaxBass_EPK4.jpg" alt="Max Bass presave artwork">
                        <div class="presave-copy"><span>Pre-save on Spotify</span></div>
                    </div>
                    </a>
                </div>

                <div class="grid-box">
                    <a href="/content/images/music/HeartBeat/HeartBeatCover3600.jpg" class="image-link" target="_blank">
                    <div class="item-image">
                        <img src="/content/images/music/HeartBeat/HeartBeatCover1500.jpg">
                    </div>
                    </a>
                </div>

                <div class="grid-box">
                    <a href="/content/images/music/HeartBeat/HeartBeatTracklist3600.jpg" class="image-link" target="_blank">
                    <div class="item-image">
                        <img src="/content/images/music/HeartBeat/HeartBeatTracklist1500.jpg">
                    </div>
                    </a>
                </div>

                <div class="grid-box">
                    <a href="/files/blog/260630" class="presave-button">
                    <div class="item-image" id="presave">
                        <img src="/content/images/epk/lowres/MaxBass_EPK3.jpg" alt="Max Bass presave artwork">
                        <div class="presave-copy"><span id="blog-name">The blog post about HeartBeat</span></div>
                    </div>
                    </a>
                </div>

                <div class="grid-box" id="message2">
                    <p class="message-header">
                        Lyrics
                    </p>
                    <p class="message2">
                        <a href="/content/music/text/Pollen-Snow.txt" target="_blank">Pollen Snow</a>
                    </p>
                    <p class="message2">
                        <a href="/content/music/text/Love-is-dancing.txt" target="_blank">Love is dancing</a>
                    </p>
                    <p class="message2">
                        <a href="/content/music/text/everything2me.txt" target="_blank">everything2me</a>
                    </p>
                    <p class="message2">
                        <a href="/content/music/text/It-all-just-dies.txt" target="_blank">It all just dies!</a>
                    </p>
                </div>

            </div>

        </div>

</div>

</Layout>