---
import '../assets/heartbeatideation.css';
import '../assets/heartbeatideation.js';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Home">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta property="og:title" content="Max Bass">
    <meta property="og:description" content="HeartBeat Library">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://loveisdancing.com/content/images/everything.png">
    <meta property="og:url" content="https://loveisdancing.com/heartbeatideation">
    <title>Max Bass - HeartBeat Library</title>

    <link rel="icon" type="image/svg+xml" href="/content/svg/favicon2.svg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jacquard+12+Charted&family=Jersey+10&family=Micro+5+Charted&family=Pixelify+Sans:wght@400..700&family=Rubik+Broken+Fax&family=Silkscreen:wght@400;700&family=Syne+Mono&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
        <h1>HeartBeat  Library</h1>
        <div class="intro" style="font-weight: bold;">
        <p class="subtext">Hey Ben! This is just a library for some inspiration regarding my own creative direction for the EP I'm working on. It's called HeartBeat and is about my relationship with music. As for where you come in, I'm open to any suggestions or ideas you have, but I mainly just need photos of myself to worldbuild and for EPK type stuff. Att the bottom, there are some photos of yours that I LOVE! Excited to see what comes out of this.</p>
        <p class="subtext">Depending on how deep you wanna get into it, there's visual influences, actual audio files of the songs, some stream-of-consciousness stuff, context, etc. But no pressure to read it all, I just would rather provide more information and inspiration than not enough. I also don't have any specific expectations out of it, though.</p>
        <p class="subtext">Briefly, some current inspirations in mind are heavy, deep colors, intimacy, medical devices, abstraction, noise, electronics, nighttime skies, that one Snapchat filter where you vomit rainbows, escapism and suburbia, extreme color, dead pixels, <input type="text" placeholder="you name it"></p>
        <p class="subtext">p.s. this webpage is not built the best</p>
        </div>
        <div class="song" style="background-color: rgb(244, 244, 244);">
            <p class="title">1. Love is dancing</p>
            <audio controls>
                <source src="/content/audio/loveisdancing_3.mp3" type="audio/mpeg">
            </audio>
            <br>
            <a href="/content/text/Love-is-dancing.txt" target="_blank">Lyrics</a>
            <div class="two-column">
                <div class="column-one">
                    <p class="description">A song about wanting to go to my friend's houseparty in Cincy but I was too scared to go alone.</p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/full.jpg">
                    <p class="description">Love full-spectrum photography.</p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/circle.gif">
                </div>
                <div class="column-two">
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/field.jpg">
                    <p class="description"></p>
                    <img src="/content/images/HeartBeat_Ideation/Love_is_dancing/projector.jpg">
                    <p class="description">Tried filming some things last fall, didn't turn out how I wanted, sadly.</p>
                </div>
            </div>
            <div class="song" style="background-color: rgb(244, 244, 244);">
            <p class="title">2. everything2me</p>
            <audio controls>
                <source src="/content/audio/everything2me_3.mp3" type="audio/mpeg">
            </audio>
            <br>
            <a href="/content/text/everything2me.txt" target="_blank">Lyrics</a>
            <div class="two-column">
                <div class="column-one">
                    <img src="/content/images/HeartBeat_Ideation/everything2me/teeth.jpg">
                    <p class="description">Fun visuals.</p>
                    <img src="/content/images/HeartBeat_Ideation/everything2me/snapchat.jpg">
                    <p class="description">I remember being young and just being obsessed with Snapchat filters.</p>
                </div>
                <div class="column-two">
                    <p class="description">The main thing with these 4 images is the digital/2010s aesthetic of it all.</p>
                    <img src="/content/images/HeartBeat_Ideation/everything2me/IMG_0328.JPG">
                    <p class="description">Some super early cover art I made last year.</p>
                    <img src="/content/images/everything.png">
                </div>
            </div>
        </div>
        <div class="song" style="background-color: white; padding-top: 40px;">
            <p class="title" style="font-weight: bolder; font-size: 2rem; line-height: 90%">Photos of yours that I LOVE! Also some things I have that we could use, just extra inspiration</p>
            <br>
            <a href="/content/text/HeartBeat.txt" target="_blank">HeartBeat is...</a>
            <div class="two-column" id="ben">
                <div class="column-one">
                    <img src="/content/images/HeartBeat_Ideation/ben1.jpg">
                    <p class="description">I love cropped images or literal negative space added in post (used a lot of it in a <a href="https://youtu.be/ukHzCk0bxm4?si=O--TSC5qXG3A5lGT" target="_blank" class="mv">music video I made</a>), and this is stun. Although I mostly see us taking photos at night, I love lens flares and the art of suggestion. One of my only philosophies about music is that music should make the listener imagine or wonder.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben2.jpg">
                    <p class="description">I mean, come on. I'm sure you already how great of an image this is. I think because of the areas I've lived, I'm drawn to suburbia's monotony and the yearning of escaping it. To me, the photo acknowledges that, but it also promises that suburbia is a perfect place to stay forever with a nice community.</p>
                    <!-- <img src="/content/images/HeartBeat_Ideation/ben3.jpg">
                    <p class="description">Classic and perfect artist picture, love the framing.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben4.jpg">
                    <p class="description">I'm not opposed to things like double exposure, overlays, intentional blur, manipulation in post, literally all that is cool with me. As long as none of it is AI ofc. But I love this one specifically because it eternally traps the subject inside of technology despite them touching grass. Kinda like how I feel trapped in suburbia. But yea these are some of the coolest photos of yours, in my opinion. The talent bleeeedddss.</p> -->
                </div>
                <div class="column-two">
                    <img src="/content/images/HeartBeat_Ideation/ben3.jpg">
                    <p class="description">Classic and perfect artist picture, love the framing.</p>
                    <img src="/content/images/HeartBeat_Ideation/ben4.jpg">
                    <p class="description">I'm not opposed to things like double exposure, overlays, intentional blur, manipulation in post, literally all that is cool with me. As long as none of it is AI ofc. But I love this one specifically because it eternally traps the subject inside of technology despite them touching grass. Kinda like how I feel trapped in suburbia. But yea these are some of the coolest photos of yours, in my opinion. The talent bleeeedddss.</p>
                    <!-- <p class="description">This second column is all photos I've taken that I think can further help with direction. I also don't want you to think I have anything that specific in mind, though. I'm open to pretty much everything and I know collaboration is a two-way street, so I wanna make sure I'm doing what I can to help.</p>
                    <img src="/content/images/frankenflower.png">
                    <p class="description">So I lied because this first one is technically, like, 10 images that I've taken, all frankensteined into one. But I love combining natural elements with digital manipulation (without AI). And I love saturation which I feel also shows throughout your work, but you do it in a cool way where it sort of selectively pops out in certain areas of grayness.</p>
                    <img src="/content/images/iam/DSCF1945.jpg">
                    <p class="description">This is moreso an opportunity showcase but I recently completed <a href="https://loveisdancing.com/iam" target="_blank" class="mv">my senior thesis</a> which was all about audio visualization and the intersection of music and visual arts. It incorporated a projector and some abstract visuals and it could be cool to play around with projections. This also isn't even my picture.</p>
                    <img src="/content/images/HeartBeat_Ideation/maxds.gif">
                    <p class="description">While looking for photos I came across the ones I took on my old DS. idk.</p>
                    <img src="/content/images/HeartBeat_Ideation/IMG_0471.JPG">
                    <p class="description">Also not my picture but I love the colors. Shoutout Trevor Paglen.</p> -->
                </div>
            </div>
            <img src="/content/images/HeartBeat_Ideation/cams.jpg" class="bottompic">
            <p class="description">I've got a small range of cameras and props we could play around with too. I love iPod photos, digicam photos, and I reallyyy wanna try film soup so that could fun to try and take some pics on film. I only have b&w film though and no flash for the camera so that could be a challenge. I have a projector that could be cool to project some things like <a href="https://loveisdancing.com/iam" target="_blank" class="mv">my senior thesis</a>.</p>
            <p class="subtext">Here's some links to my <a href="https://soundcloud.com/maxsdemos" class="mv">old SoundCloud number 1</a> and <a href="https://soundcloud.com/sketchist" class="mv">my old SoundCloud number 2</a> to get a feel for some of my older music, also <a href="https://open.spotify.com/playlist/65qg2a9wGQwQvNzglpmlYR?si=7deab8e860064318" class="mv">some more musical influence</a> if music is something that inspires your visuals.</p>
            <p class="subtext"><a href="https://www.cosmos.so/maxbass/love-is-dancing" target="_blank" class="mv">Here's a Cosmos board</a>. But as mentioned, I'm open to all ideas!</p>
    </div>
</body>
</html>