---
import '../assets/style.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Love is dancing, keep it up in the air with your feet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="Max Bass">
    <meta property="og:description" content="Love is dancing, keep it up in the air with your feet">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://loveisdancing.com/content/images/everything.png">
    <meta property="og:url" content="https://loveisdancing.com">
    <meta name="p:domain_verify" content="3ef50328948293daf631523a6f485bcc"/>
    <title>Love is dancing</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="icon" type="image/svg+xml" href="/content/svg/favicon2.svg">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Jacquard+12+Charted&family=Jersey+10&family=Micro+5+Charted&family=Pixelify+Sans:wght@400..700&family=Rubik+Broken+Fax&family=Silkscreen:wght@400;700&family=Syne+Mono&display=swap" rel="stylesheet">
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "wv5ok28jme");
</script>
</head>
<body>
<!--     <div class="lid-logo">
        <img src="/content/svg/title.svg" alt="Loveisdancing.com Logo" id="lid-logo">
    </div> -->
    <div class="container1">
        <!-- <h1>Love is dancing</h1>
        <form>
            <div class="pword">
                <div class="input-container">
                    <input type="password" id="password" name="password" placeholder="What sound does your HeartBeat?" required>
                    <span class="star">✦</span>
                </div>
                <br> -->
                <button type="button" class="login" onclick="startFakeLoad()">Log in</button>

            </div>
        </form>
        <!-- <br>
        <p id="promptmachine"><a href="https://loveisdancing.com/iam/prompts">iam... Rundown</a></p> -->
    </div>

    <div id="loading-screen">
            <img src="/content/svg/HeartBeatSymbol_Cyan.svg" class="heartbeat">
    </div>

<script src="/scripts/script.js" defer></script>

</body>
</html>