---
import layout from '../layouts/Layout.astro';
import '../assets/sitemap.css'
---

<layout title="Sitemap" description="A sitemap of loveisdancing.com." url="https://loveisdancing.com/sitemap">
    <h1>This is the sitemap and I'm too bored to make it look pretty rn but <a href="https://Loveisdancing.com/iam">here's a link to my iam... rundown</a></h1>

</layout>