body {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    height: calc(var(--vh) * 100);
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    display: none;
}

h1:hover {
    color: var(--heart);
    filter: blur(0px);
}

.qa-container {
    width: 100%;
    height: 100%;
    padding-left: 20px;
/*     border: var(--pollen) 2px solid; */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.qa-container::-webkit-scrollbar {
    display: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none;
}

.quick-access {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1em;

    justify-items: center;
    align-items: center;
    justify-content: center;
}

.qa-item {
    width: 250px;
    height: 250px;
/*     border: cyan 1px solid; */
    display: flex;
    flex-direction: column;
}

.qa-item img, .qa-item a {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.file-caption {
    font-family: Syne Mono, sans-serif;
}