---
import Layout from '../../layouts/Layout.astro';
import '../../assets/files/files.css'
---

<Layout title="Files" description="This PC/user/Max Bass/Loveisdancing.com/Files" url="https://Loveisdancing.com/files">

        <a href="/content/images/dead-pixels/snarl.jpg"><h1>Page under <br> development.</h1></a>

<script src="/scripts/heartbeatideation.js" defer></script>

</Layout>