---
import Layout from '../../layouts/Layout.astro';
import Sidebar from '../../layouts/sidebar.astro';
import '../../assets/files/files.css'
---

<Layout title="Max Bass - Files" description="This PC/user/Max Bass/Loveisdancing.com/Files" url="https://Loveisdancing.com/files">

<!--         <a href="https://Loveisdancing.com/files/blog/260529"><h1>Page under <br> development.</h1></a>

<script src="/scripts/heartbeatideation.js" defer></script> -->

<h1>Files</h1>

<Sidebar>

        <div class="qa-container">
        <div class="quick-access">
                <div class="qa-item">
                        <a href="/files/documents/blog/260604">
                        <img src="/content/images/blog/260604/max1_edit.jpg">
                        </a>
                </div>

                <div class="qa-item">
                        <a href="/iam">
                        <img src="/content/images/iam/DSCF1946.jpg">
                        </a>
                </div>

                <div class="qa-item">
                        <a href="https://www.youtube.com/watch?v=ukHzCk0bxm4">
                        <img src="/content/images/music/dance_cover.png">
                        </a>
                </div>

                <div class="qa-item">
                        <a href="https://on.soundcloud.com/p4XOwj0NeUVnOTB3KP">
                        <img src="/content/images/IMG_0563.JPG">
                        </a>
                </div>
        </div>
        </div>

</Sidebar>

</Layout>