---
import Layout from '../../../layouts/Layout.astro';
import Sidebar from '../../../layouts/sidebar.astro';
import '../../../assets/files/documents.css'
---

<Layout title="Max Bass - Documents" description="This PC/user/Max Bass/Loveisdancing.com/Files/Documents" url="https://Loveisdancing.com/files/documents">

<h1>Files</h1>

<Sidebar>

        <div class="docs-container">

            <div class="feat-container">
                
                <div class="featured-doc" id="featdoc1">
                    <a href="https://Loveisdancing.com/files/documents/blog">
                    <h3>Blog</h3>
                    </a>
                </div>
                
                <div class="featured-doc" id="featdoc2">
                    <a href="https://Loveisdancing.com/files/documents/lyrics">
                    <h3>Lyrics</h3>
                    </a>
                </div>
                
            </div>

            <div class="list-container">

                <div class="categories">

                <div class="cat-container" id="name">
                    <h4>Name</h4>
                </div>

                </div>

                <ul class="file-list">

                        <li class="file-li">
                            <p>
                                <a class="file-link">
                                <span class="file-title">This page is under development</span>
                                </a>
                            </p>
                        </li>

                </ul>

            </div>

        </div>

</Sidebar>

</Layout>