:root {
    --heart: rgb(234, 15,11);
    --beat: rgb(0, 247, 246);
    --pollen: rgb(230, 230, 230);
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-family: 'Inter Tight', sans-serif;
    background-color: white;
/*     border: black solid 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container1 {
/*     border: black solid 2px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    height: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1{
    letter-spacing: -0.05em;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.intro {
    outline: var(--beat) solid 1px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 800px;
    height: auto;
}

.subtext {
    font-size: 1rem;
    margin: 20px;
    text-align: left;
}

.title {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
    font-family: Doto, sans-serif;
    font-weight: 600;
}

input {
    font-size: 0.79rem;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    font-family: Inter Tight, sans-serif;
}

audio {
    margin-top: 20px;
    width: 100%;
    background-color: var(--beat);
    display: block;
}

.description{
    font-size: 0.8rem;
    margin: 0 20px 20px 20px;
    text-align: left;
}

a {
    color: var(--beat);
    text-align: center;
    font-size: 1.5rem;
    font-family: Pixelify Sans, sans-serif;
}

a:hover {
    color: var(--heart);
}

.mv {
    font-size: 0.8rem;
    font-family: Inter Tight, sans-serif;
}

.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-self: center;
    border: var(--beat) 0px solid;
    width: 100%;
    max-width: 1000px;
    margin-top: 20px;
}

.two-column img{
    width: 400px;
    height: 400px;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}

.bottompic {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
.intro {
        max-width: 400px;
    }


.container1{
    max-width: 350px;

}

.two-column {
    max-width: 400px;
}

.two-column img{
    width: 100%;
    height: auto;
}

#ben {
    grid-template-columns: 1fr;
    
}

h1 {
    width: 300px;
}

}

