body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: calc(var(--vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    display: none;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-items {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.store-item {
    width: auto;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.image-container {
    width: clamp(250px, 40vw, 750px);
    height: clamp(250px, 40vw, 750px);
    background-image: url("/public/content/images/music/HeartBeat/HeartBeatCover1500.jpg");
    background-size: contain;
}

.product-text {
    width: clamp(250px, 30vw, 750px);
    height: clamp(250px, 30vw, 750px);
}

.product-text p{
    text-align: left;
}

.store-item p {
    text-align: left;
}

.product-name {
    font-family: Doto, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}

.description {
    font-family: Syne Mono, sans-serif;
    font-size: 0.8rem;
    letter-spacing: -2%;
    opacity: 0.7;
    margin-top: 10px;
    line-height: 1;
}

#subhead {
    font-weight: 800;
    font-size: 1rem;
    font-family: Doto, sans-serif;
    margin-bottom: 20px;
}

.product-cost {
    font-family: Pixelify Sans, sans-serif !important;
    font-weight: 200;
    font-size: 1rem;
    opacity: 0.7;
    margin-bottom: 30px;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none !important;
}

@media (max-width: 600px) {

    .store-item {
        flex-direction: column;
    }

    .image-container {
        width: clamp(250px, 70vw, 750px);
        height: clamp(250px, 70vw, 750px);
    }

    .product-text {
        width: clamp(250px, 70vw, 750px);
        height: clamp(250px, 70vw, 750px);
    }

}