---
import Layout from '../../../layouts/Layout.astro';
import '../../../assets/files/gallery.css'
---

<Layout title="Max Bass - Gallery" description="Pouring rain..." url="https://Loveisdancing.com/gallery">


<main>
    <div class="masonry"></div>
</main>

<script src="/scripts/items.js" defer></script>
<script src="/scripts/gallery.js" defer></script>

</Layout>