---
import Layout from '../../../layouts/Layout.astro';
import '../../../assets/files/gallery.css'
---

<Layout title="Max Bass - Gallery" description="Pouring rain..." url="https://Loveisdancing.com/gallery">

    <h1>Gallery</h1>

</Layout>