---
import '../styles/global.css';
import '../assets/sidebar.css';
---

<div class="whole-container">

    <div class="sidebar-container">

    </div>

    <div class="m">
        <slot />
    </div>

</div>