---
import '../styles/global.css';
import '../assets/sidebar.css';
---

<div class="center">
<div class="whole-container">

    <div class="sidebar-container">

        <div class="top-middle">

        <div class="top-list">
            <div class="tab" id="home">
                <a href="/home">Home</a>
            </div>
        </div>

        <div class="middle-list">
            <div class="tab">
                <a href="/files/music">Music</a>
            </div>
            <div class="tab">
                <a href="/files/blog">Blog</a>
            </div>
            <div class="tab">
                <a href="/files/gallery">Gallery</a>
            </div>
            <div class="tab">
                <a href="/store">Store</a>
            </div>
        </div>

        </div>

        <div class="bottom-list">
            <div class="tab">
                <a href="/files">This PC</a>
            </div>
            <div class="tab">
                <a href="/archive">Trash</a>
            </div>
        </div>

        <div class="log-out">
            <div class="tab">
                <a href="https://Loveisdancing.com/">Log Out</a>
            </div>
        </div>

    </div>

    <div class="content-container">
        <div class="slot-wrapper">
            <slot />
        </div>
    </div>

</div>
</div>